* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Light Theme */
    --grey-blue: #4B6A9B;
    --dark-blue: #2B3442;
    --grey: #697C9A;
    --light-grey: #D7DCEF;
    --white-grey: #FEFEFE;
    --light-blue: #F6F8FF;

    /* Dark Theme */
    --blue-sky: #0079FF;
    --white: #FFFFFF;
    --dark-clr: #141D2F;
    --blue-jeans: #1E2A47;

    /* Font */
    font-family: "Space Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    background-color: var(--light-blue);
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: "Space Mono", monospace;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: var(--dark-blue);
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: var(--dark-blue);
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-sky);
}

h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--dark-blue);
}

#input {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: var(--white);
}

#input[type=submit] {
    border: 1px solid var(--blue-sky);
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 500px;
}

.light-button {
    display: none;
}

.nav a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--dark-blue);
    text-decoration: none;
}

.dark-button {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: var(--grey);
    text-decoration: none;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    background-color: var(--white-grey);
    padding: 10px;
    width: 708.06px;
    height: 70px;
    gap: 150px;
    margin-bottom: 20px;
    box-shadow: 0 16px 30px -10px rgba(75, 106, 155, 0.41);
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    background-color: var(--blue-sky);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    float: right;
}

.search_icon {
    width: 23.67px;
    height: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 710px;
    height: 460px;
    box-shadow: 0 16px 30px -10px rgba(75, 106, 155, 0.41);
    border-radius: 15px;
    background-color: var(--white-grey);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.user_information {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.user_image {
    flex: 0 0 auto;
    margin-left: 20px;
    margin-right: 10px;
}

#image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 20px;
}

.user_name {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex-grow: 1;
}

.registration {
    color: var(--grey);
    margin-left: 40px;
    margin-right: 20px;

}

.user_bio {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-blue);
    max-width: 500px;
    margin-left: 100px;
}


#repos,
#followers,
#following {
    font-weight: 700;
    font-size: 22px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.user_stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row1 li,
.row2 li {
    margin-bottom: 15px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-blue);
    padding: 20px 40px;
    gap: 40px;
    border-radius: 15px;
    width: 420px;
    height: 85px;
}

/*Dark Mode*/

.dark {
    background-color: var(--dark-clr);
    color: var(--white-grey);
}

.dark #input {
    background-color: var(--blue-jeans);
    color: var(--white-grey);
}

.dark .search_form,
.dark .container,
.dark .content {
    background-color: var(--blue-jeans);
    box-shadow: none;
}

.dark .user_bio {
    color: var(--white-grey);
}

.dark .stats {
    background-color: var(--dark-clr);
    color: var(--white-grey);
}

.dark h1 {
    color: var(--white-grey);
}

.dark h2 {
    color: var(--white-grey);
}

.dark h3 {
    color: var(--blue-sky);
}

.dark .search_form {
    background-color: var(--blue-jeans);
}

.dark a {
    color: var(--white-grey);
}


@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
        line-height: 33px;
    }

    #image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .nav {
        gap: 200px;
        margin: 0 auto;
    }

    .search_form {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
    }

    .user_bio {
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .user_information {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        margin-bottom: 0px;
    }

    .stats {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        font-size: 12px;
        margin: 0 auto;
    }

    .user_name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .linksco .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

}

@media (max-width: 400px) {

    body {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 12px;
        margin-right: 20px;
        margin-left: 20px;
    }

    h1 {
        font-size: 18px;
        line-height: 28px;
    }

    #image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .nav {
        gap: 100px;
    }

    .search_form {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0 auto;
    }

    .container {
        width: 400px;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .user_bio {
        width: 300px;
        padding-left: 10px;
    }

    .user_information {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .stats {
        margin-right: 60px;
        width: 290px;
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        font-size: 10px;
        margin-right: 60px;
    }

    .user_name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-items: center;
        justify-content: center;
        margin-left: -160px;
        margin-bottom: 5px;
        font-size: 14px;
    }

}